* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*overflow-x: hidden;*/
}

a:hover {
    text-decoration: none;
}

.top-header-bg {
    background-image: url(../images/nav-top.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0px;
    z-index: 999;
}


.bottom-footer-bg {
    background-image: url(../images/bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.back-img {
    margin-top: -250px;
}

/* navbar css begin*/


nav {
    width: 100%;
    margin-left: 230px;
    z-index: 999 !important;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 58px;
    background-image: url(../images/nav-top.png);
    background-repeat: no-repeat;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: #fff;
    color: #4b6985;
}

nav ul li a:hover .material-icons {
    background: #fff !important;
    color: #4b6985 !important;
}


nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
}

.nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/nav-top.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
}

.modal-backdrop {
    z-index: 99 !important;
}

.modal-content {
    background-color: #3E76C5;
}

.modal-body div input {
    padding: 8px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
}


@media only screen and (max-width: 1000px) {
    .nav-mobile {
        display: block;

    }


    .brand h4 {
        position: absolute;
        float: left;
        line-height: 70px;
        margin-left: 80px !important;
        text-transform: uppercase;
    }

    nav {
        width: 39%;
        padding: 58px 0 15px;
        margin-left: 0px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 11px;
        line-height: 28px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }


    nav ul {
        display: none;
    }

    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;

    }

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #nav-toggle span:before {
        top: -10px;
    }

    #nav-toggle span:after {
        bottom: -10px;
    }

    #nav-toggle.active span {
        background-color: transparent;
    }

    #nav-toggle.active span:before,
    #nav-toggle.active span:after {
        top: 0;
    }

    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }

    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 1000px) {
    .nav-list {
        display: block !important;
    }


}

.navigation {
    height: 58px;
    background-image: url(../images/nav-top.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container {
    max-width: 889px;
    margin: 0 auto;
}

.nav-container nav {
    background-image: url(../images/nav-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.brand h4 {
    position: absolute;
    float: left;
    line-height: 58px;
    margin-left: -100px;
    text-transform: uppercase;
}


/* navbar css end*/

/*section begin*/
.section-first {}

.section-first-inner .img {
    position: absolute;
    right: 0px;
    top: -52px;
}

.section-first-inner-text {}

.section-first-inner-text .btn1 {
    position: absolute;
    width: 224px;
    height: 55px;
    left: 165px;
    top: 471px;
    background: #337ADC;
    border-radius: 50px;
    /*z-index: 9;*/
    border: none;
    color: white;
    padding-bottom: 5px;

}

.section-first-inner-text .btn2 {
    position: absolute;
    width: 224px;
    height: 55px;
    left: 165px;
    top: 550px;
    border: 1px solid black;
    border-radius: 50px;
    /*z-index: 9;*/
    border: none;
}

.section-first-inner-text h1 {
    position: absolute;
    left: 166px;
    top: 138px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 110px;
    color: #111111;
    /*z-index: 9;*/
}


.section-first-inner-text p {
    position: absolute;
    width: 279px;
    height: 29px;
    left: 166px;
    top: 379px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #111111;
    /*z-index: 9;*/
}

.book-img {
    position: absolute;
    width: 276.23px;
    height: 425.98px;
    left: 470.15px;
    top: 416.57px;
    z-index: 10;
}

.section-second-img {
    position: absolute;
}



.img-mobile {
    display: none !important;
}

.section-second-inner-items img {
    width: 100%;
    height: auto;
}

.section-second-inner-items p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.section-second-inner h1 {
    position: relative;
    color: white;
    z-index: 99;
    text-align: center;
    padding-top: 5rem !important;
}

#carouselExampleIndicators {
    display: none !important;
    margin-bottom: 30px;
    margin-top: -100px;
}


.section-third-inner h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #1F1F1F;
}

.section-four-inner {
    background-image: url(../images/bg1.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.btn3 {
    position: absolute;
    width: 245px;
    height: 54.96px;
    background: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 5px;
}

.btn4 {
    width: 250px;
    padding: 8px 70px;
    background: #126EEF;
    border-radius: 50px;
    color: white;
    border: none;
    text-align: center;
}

.btn5 {
    padding: 10px 15px;
    border-radius: 50px;
    color: #1F1F1F;
    border: none;
    text-align: center;
    border: 1px solid#1F1F1F;
}

.btn7 {
    width: 140px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    border: none;
}

.btn8 {
    width: 140px;
    height: 40px;
    background: #498AE4;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    border: none;
}

.btn9 {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 50%;
}

.btn10 {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 50%;
}

.btn:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.btn2:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.btn3:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.btn4:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.btn5:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.section-six-inner h1 {
    text-align: center;
}

.section-six-inner-carousel {
    background: #498AE4;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.section-six-inner-carousel-img {
    position: absolute;
    width: 76px;
    height: 76px;
    top: -40px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../images/El.png);
}

.section-six-inner-carousel-img img {
    position: absolute;
}

.section-six-inner-carousel-htext {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #FFFFFF;
}

.section-six-inner-carousel-ptext {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

    opacity: 0.7;
}

.section-seven-inner-img {
    width: 100%;
    height: auto;
    position: relative;

}

.section-seven-inner-img img {
    width: 100%;
    height: auto;
    position: relative;
}

.section-seven-inner-item p {
    width: 300px;
    height: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    right: 100px;
}

.section-seven-inner-item2 {
    position: absolute;
    top: 150px;
    left: 100px;
}

.section-seven-inner-item2 div input {
    background: #FFFFFF;
    border-radius: 6px;
    width: 535px;
    height: auto;
    padding: 8px;
    margin-top: 10px;
    border: none;
}

.section-seven-inner-item2 button {
    display: flex;
    flex-direction: row;
    padding: 12px 39px;
    position: absolute;
    left: 200px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 24px #3A6DB4;
    border-radius: 50px;
    border: none;
}

.inp-question {
    height: 200px !important;
}


.form-group1 input {
    width: 70%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
}

.form-group2 input {
    width: 70%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
}

.form-group3 input {
    width: 70%;
    height: 248px;
    background: #FFFFFF;
    border-radius: 6px;
}

.btn11 button {
    width: 144px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 24px #3A6DB4;
    border-radius: 50px;
    border: none;
}

.bottom-footer-inner-items ul li,
a {
    list-style-type: none;
    color: white;
    padding-top: 5px;
}

.bottom-footer-inner-items {
    border-right: 1px solid white;
    height: 100%;
}

.circle1 {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    transition: all 1s ease;
    background-color: #4267B2;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.circle2 {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    transition: all 1s ease;
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.circle3 {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    transition: all 1s ease;
    background-color: #2BA2DF;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.bottom-footer-inner-small-item {
    display: none;
}

.section-five-item2 {
    display: none;
}

/*we section begin*/

.we-section-one {
    background-image: url(../images/we.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.we-section-one-inner h1 {
    width: 603px;
    height: 252px;
    left: 165px;
    top: 178px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.we-section-two-inner h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}

.we-section-two-inner p {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.we-section-two-inner {
    background-image: url(../images/bg-we.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.we-section-two-inner2 h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}

.we-section-two-inner2 p {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.we-section-two-inner2 {
    background-image: url(../images/bg-we2.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.we-section-two-inner3 h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
}

.we-section-two-inner3 p {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 152.4%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.we-section-two-inner3 {
    background-image: url(../images/bg-we3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.we-section-two-mobile {
    display: none;
}

.we-section-two-mobile-items {
    position: absolute;
    top: 0px;

}

.we-section-two-mobile-items h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}

.we-section-two-mobile-items p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.video-section-one {
    background-image: url(../images/video-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.video-section-one-inner h1 {
    width: 603px;
    height: 252px;
    left: 165px;
    top: 178px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*we section end*/

/*other section begin*/

.other-section-one {
    background-image: url(../images/other-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.other-section-one-inner h1 {
    width: 603px;
    height: 252px;
    left: 165px;
    top: 178px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.other-section-one-inner-items img {}

.other-section-one-inner-items h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    padding-top: 20px;
}

.other-section-one-inner-items p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}

.other-section-one-inner-items a {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background: #DE6565;
    border-radius: 82px;
}

/*other section end*/


/*price section begin*/

.price-section-one {
    background-image: url(../images/price.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.price-section-one-inner h1 {
    width: 603px;
    height: 252px;
    left: 165px;
    top: 178px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.price-section-one-item {
    /*box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);*/
    border: 1px solid #5CA6C6;
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.price-section-one-item:hover {
    /*box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.price-section-one-item h3 {
    width: 100%;
    height: auto;
    left: 95px;
    top: 58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    background-image: url(../images/price-top.png);
    background-position: bottom;
}

.price-section-one-item div h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.price-section-one-item div h6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.price-section-one-item div p {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.price-section-one-item div .conteacher {
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    background-color: #35D813;
    padding: 10px;
    border-radius: 82px;
    text-transform: unset;
}

.price-section-one-item .price-pay {
    width: 80%;
    height: auto;
    text-align: center;
    padding: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background: #DE6565;
    border-radius: 82px;
    margin-top: 20px;
}

/*price section end*/

/*video section begin */


.lesson-btn {
    background: #3D88F1 !important;
    border-radius: 20px !important;
    padding: 10px !important;
}


.option {
    display: block;
    margin-bottom: 5px;
    border: 2px solid #EBEBEB !important;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 10px;
}

.option:hover {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

/* Hide the default checkboxes inside the 'new' div that jQuery adds for us */
.new input[type="checkbox"] {
    opacity: 0;
}

.new input[type="radio"] {
    opacity: 0;
}

/* jQuery adds this span for us which we style to look like a box */
.check-box {
    width: 25px;
    height: 25px;
    background-color: white;
    color: #0079bf !important;
    border: 2px solid #0079bf;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    top: 3px;
}


/* When someone clicks our new box, add or remove the tick which has been created using some CSS */
[type=checkbox]:checked+.check-box:before,
[type=radio]:checked+.check-box:before {
    content: '';
    display: block;
    width: 5px;
    height: 15px;
    margin-left: 7px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 0.1s;
    color: #0079bf !important;
}

/* And change the background colour */
[type=checkbox]:checked+.check-box,
[type=radio]:checked+.check-box {
    /*background-color: #26a69a;*/
    background-color: #0079bf;
    border: 2px solid #0079bf;
    color: #0079bf !important;
    transition: 0.5s;
}



/*video section end*/

/*lesson section begin*/

.lesson-section-one {
    background-image: url(../images/lesson.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.lesson-section-one-inner h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 85px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lesson-section-items-text {
    position: absolute;
    top: 0 !important;
}

.card-header {
    background: #3D88F1 !important;
    border-radius: 20px !important;
    padding: 5px !important;
}

.begin-lesson a {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 12px;
    background: #DE6565;
    border-radius: 82px;
}

.lesson-section-items-second-inner {
    background-color: grey;
    width: 400px;
    height: 400px;
    border-radius: 50px;

}

.btn,
.btn-link:hover * {
    list-style-type: none !important;
}

.try-again a {
    width: 300px;
    height: auto;
    margin-left: 50px;
    padding: 10px;
    background: #DE6565;
    border-radius: 82px;
}

.next a {
    width: 300px;
    height: auto;
    margin-right: 50px;
    padding: 10px;
    background: #3D88F1;
    border-radius: 20px;
}

.tabs-btn1 {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    color: blue;
}

.tabs-btn2 {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
    color: blue;
}

.bg-12 {
    display: none !important;
}

/*lesson section end*/



@media only screen and (max-width: 1000px) {
    .section-first-inner-text h1 {
        position: absolute;
        left: 50px;
        top: 100px;
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 50px;
        color: white;
        /*z-index: 9;*/
    }


    .section-first-inner-text p {
        position: absolute;
        width: 279px;
        height: 29px;
        left: 60px;
        top: 230px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 20px;
        color: white;
        /*z-index: 9;*/
    }

    .img2 {
        display: none;
    }

    .img {
        display: none;
    }

    .img-mobile {
        width: 100%;
        height: 100%;
        display: block !important;
    }

    .book-img {
        display: none;
    }

    .section-second-img {
        display: none;
    }

    .section-second {
        position: relative;
        margin-top: 160px;
    }

    .section-first-inner-text .btn1 {
        width: 224px;
        height: 55px;
        left: 25%;
        top: 50%;
        background: #337ADC;
        border-radius: 50px;
        /*z-index: 9;*/
        border: none;
        color: white;
    }

    .section-first-inner-text .btn2 {
        width: 224px;
        height: 55px;
        left: 25%;
        top: 60%;
        border: 1px solid black;
        border-radius: 50px;
        /*z-index: 9;*/
        border: none;
    }

    .section-second-inner {
        position: relative;
        background-image: url(../images/bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .section-second-inner h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
    }

    .container .con {
        display: none;
    }

    #carouselExampleIndicators {
        display: block !important;
    }

    .active {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .mobil-carousel-text {
        z-index: 999;
    }

    .section-third-inner h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        color: #1F1F1F;
    }

    .bottom-footer-inner-big-item {
        display: none;
    }

    .bottom-footer-inner-small-item {
        display: block;
    }

    .section-five-item {
        display: none;
    }

    .section-five-item2 {
        display: block;
        padding: 30px;
    }

    .section-five-inner {
        margin-top: 30px;
    }

    .section-five-inner h1 {
        text-align: center;
    }

    .section-four-inner {
        margin-top: 30px;
        padding-bottom: 125px;
    }

    .section-four-inner div div {
        margin-top: 30px;
    }


    .section-seven-inner-item2 {
        position: absolute;
        top: 25%;
        left: 20%;

    }

    .section-seven-inner-item2 div input {
        background: #FFFFFF;
        height: 30px;
        width: 250px;
        border-radius: 6px;
        margin-top: 10px;
        border: none;
    }

    .section-seven-inner-item2 button {
        display: flex;
        flex-direction: row;
        padding: 2px 12px;
        position: absolute;
        left: 25%;
        margin-top: 20px;
        background: #FFFFFF;
        box-shadow: 0px 10px 24px #3A6DB4;
        border-radius: 50px;
        border: none;
    }

    .section-seven-inner-img img {
        display: none;
    }

    .section-seven-inner-img .bg-12 {
        display: block !important;

    }

    .section-seven-inner-item2 textarea {}

    .fir-textarea {
        display: none;
    }

    .inp-question {
        height: 100px !important;
    }


    .we-section-one {
        height: 400px;
    }

    .video-section-one {
        height: 400px;
    }

    .other-section-one {
        height: 400px;
    }

    .price-section-one {
        height: 400px;
    }

    .we-section-one-inner h1 {
        width: 250px;
        height: 152px;
        left: 165px;
        top: 178px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 65px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .other-section-one-inner h1 {
        width: 250px;
        height: 152px;
        left: 165px;
        top: 178px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 65px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .video-section-one-inner h1 {
        width: 250px;
        height: 152px;
        left: 165px;
        top: 178px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 65px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .price-section-one-inner h1 {
        width: 250px;
        height: 152px;
        left: 165px;
        top: 178px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 65px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .we-section-two {
        display: none;
    }

    .we-section-two-mobile {
        display: block;
    }

    .section-seven-inner-item p {
        width: 230px;
        height: 38px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        top: 40px;
        right: 50px;
    }

    .back-img {
        margin-top: -100px;
    }

    .dropbtn {
        width: 100%;
        height: 20px;
        background: #3D88F1;
        padding: 5px !important;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        color: white;
    }

    .dropdown-content a {
        color: black;
        text-align: center;
        padding: 6px 8px !important;
        text-decoration: none;
        border-bottom: 1px solid lightgrey !important;
        display: block;
    }

    .lesson-section-one-inner h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 85px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .section-seven-inner .container h1 {
        text-align: center;
    }

    .footer-container {
        /*padding: 0 !important;*/
        /*margin: 0 !important;*/
    }

    .lesson-section-items-text {
        top: 10% !important;
    }


    .lesson-section-items-text h2 {
        font-size: 20px;
    }

    .lesson-section-items-text h3 {
        font-size: 20px;
    }

    .lesson-section-items-text p {
        font-size: 10px;
    }

    .price-con-inner {
        padding: 0 !important;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 450px) {
    .we-section-two-mobile-items h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 5px;
        color: #FFFFFF;
    }

    .we-section-two-mobile-items p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .lesson-section-one-inner h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        width: 100%;
        line-height: 55px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .lesson-section-one-inner {
        padding: 0 !important;
    }
}


/*section end*/

/*footer begin*/
/*footer end*/